lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results

npm-debug.log
node_modules
public/vendor/**
public/humans.txt
public/js/version.js
target
.idea
public/js/app.min.js
public/js/app.js

