@loginBackgroundColor: #444;
@loginBackgroundUrl: url('../img/back.png');
@loginBackgroundPinLayer1: url('../img/pinlayer1.png');
@loginBackgroundPinLayer2: url('../img/pinlayer2.png');

.login-box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #eee;
}

.loginBackground {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: @loginBackgroundColor;
  background: @loginBackgroundPinLayer2, @loginBackgroundPinLayer1, @loginBackgroundUrl;
}

.spacer {
  margin-top: 40px;
}
