<div class="page-header">
  <div class="row">
    <div class="col-md-12 col-md-offset-1">
      <h1>Find your local <small>AngularJs and Node.js sample application</small></h1>
    </div>
  </div>
</div>

<div class="row loginBackground">
  <login-form on-submit="sendLogin(user)" form-errors="errors" />
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-4 spacer">
    <iframe src="http://ghbtns.com/github-btn.html?user=mdo&repo=angularjs-nodejs-app&type=watch&count=false&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="80" height="30"></iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=mdo&repo=angularjs-nodejs-app&type=fork&count=false&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="80" height="30"></iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=ToastShaman&type=follow&count=false&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="220" height="30"></iframe>
  </div>
</div>

<footer />
