<div class="page-header">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <h1>Find your local
        <small>AngularJS and Node.js sample application</small>
      </h1>
    </div>
  </div>
</div>

<div class="row loginBackground">
  <login-form on-submit="login(user)" form-errors="errors"/>
</div>

<div class="container">
  <div class="row spacer">
    <div class="col-md-12 text-center">
      <iframe src="http://ghbtns.com/github-btn.html?user=ToastShaman&repo=angularjs-nodejs-app&type=watch&count=false&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="80" height="30"></iframe>
      <iframe src="http://ghbtns.com/github-btn.html?user=ToastShaman&repo=angularjs-nodejs-app&type=fork&count=false&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="80" height="30"></iframe>
      <iframe src="http://ghbtns.com/github-btn.html?user=ToastShaman&type=follow&count=false&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="210" height="30"></iframe>
    </div>
  </div>

  <div style="margin: auto;width: 200px">
    <div>
      <a href="https://github.com/ToastShaman/angularjs-nodejs-app" class="btn btn-lg btn-block btn-primary" role="button" target="_blank">Download on GitHub</a>
    </div>
  </div>

</div>

<footer/>
