<div class="row">
  <div class="col-md-4 col-md-offset-4 login-box">
    <form name="login_form" novalidate accept-charset="UTF-8" class="form" role="form">
      <legend>Please sign in</legend>
      <fieldset>
        <div class="form-group">
          <input type="text" name="username" class="form-control input-lg" placeholder="Username or Email" ng-model="login.username" required>
        </div>
        <div class="form-group">
          <input class="form-control input-lg" placeholder="Password" id="password" name="password" type="password" ng-model="login.password" required>
        </div>
        <div class="form-group">
          <input class="btn btn-lg btn-success btn-block" id="loginButton" type="submit" value="Login" ng-click="submitLogin()" ng-disabled="login_form.$invalid">
          <a ng-href="#/register" class="btn btn-lg btn-block btn-primary" role="button">Register</a>
        </div>
        <div class="form-group">
          <div class="alert alert-danger" ng-show="formErrors.extra">{{formErrors.extra}}</div>
        </div>
      </fieldset>
    </form>
  </div>
</div>