<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form name="register_form" novalidate accept-charset="utf-8" class="form" role="form">
      <legend>Sign Up</legend>
      <h4>It's free and always will be.</h4>
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <input type="text" name="firstname" value="" class="form-control input-lg" placeholder="First Name" ng-model="register.first_name" autofocus required>
        </div>
        <div class="col-xs-6 col-md-6">
          <input type="text" name="lastname" value="" class="form-control input-lg" placeholder="Last Name" ng-model="register.last_name" required>
        </div>
      </div>

      <input type="text" name="username" class="form-control input-lg" placeholder="Your Username" ng-model="register.username" maxlength="20" ng-maxlength="20" ng-pattern="/^[a-zA-Z0-9]+$/" ensure-unique-username required>

      <input type="email" name="email" class="form-control input-lg" placeholder="Your Email" ng-model="register.email" ensure-unique-email required>

      <input type="password" name="password" value="" class="form-control input-lg" placeholder="Password" ngMinlength="8" ng-model="register.password" required>

      <input type="password" name="confirm_password" value="" class="form-control input-lg" placeholder="Confirm Password" required/>

      <span class="help-block"></span>
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submitAccount()" ng-disabled="register_form.$invalid">Create my account</button>
    </form>
  </div>
</div>
