#ajaxSpinnerIcon {
  color: #ff3300;
}
#footer #withSpinner {
  height: 34px;
}

.loginBanner {
  position: absolute;
  width: 100%;
  top: 20%;
  /* Header Height */
  bottom: 20%;
  /* Footer Height */
  background-color: #444444;
  background: url('../img/pinlayer2.png'), url('../img/pinlayer1.png'), url('../img/back.png');
}
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.vertical-offset-100 {
  padding-top: 100px;
}
